data/
.idea

# Use yarn.lock instead
package-lock.json
# Environment variables
.env*
!.env.example
*.log
npm-debug.log*
# Documentation
# Dependency directories
node_modules
# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
yarn.lock

.now
distr/*
src/tests/*
count.txt
